parameters:
    level: 5
    paths:
        - www/phpledger/includes
        - www/phpledger/install
        - www/phpledger/public
        - tools
    tmpDir: .cache/phpstan
    scanFiles:
        - vendor/sergeytsalkov/meekrodb/db.class.php
        - www/phpledger/templates/partials/ui/components.php
